In [5]:
import pandas as pd

In [44]:
# df = pd.read_csv('artists.csv')

# listeners = pd.read_csv('Datasets/listeners.csv')
most_streamed = pd.read_csv('Datasets/most_streamed.csv')
most_streamed_at = pd.read_csv('Datasets/most_streams_at.csv')
track_metrics = pd.read_csv('Datasets/track_metrics.csv')

In [45]:
#Most Streamed All Time Data - 

most_streamed_at.head()

         Artist   Streams   Daily   As lead      Solo As feature
0         Drake  85,041.3  50.775  57,252.6  32,681.6   27,788.7
1     Bad Bunny  67,533.0  44.820  40,969.6  23,073.0   26,563.4
2  Taylor Swift  57,859.0  85.793  55,566.7  50,425.7    2,292.4
3    The Weeknd  53,665.2  44.437  42,673.3  31,164.2   10,991.9
4    Ed Sheeran  47,907.7  17.506  42,767.9  33,917.0    5,139.8

In [48]:
#Messing around grouping by genre to see what mean popularity is. Maybe something? 

pop_by_genre = track_metrics.groupby('track_genre')['popularity'].mean().reset_index().sort_values(by='popularity', ascending=False)

pop_by_genre

       track_genre  popularity
81        pop-film      59.283
65           k-pop      56.896
15           chill      53.651
94             sad      52.379
44          grunge      49.594
..             ...         ...
13   chicago-house      12.339
24  detroit-techno      11.174
67           latin       8.297
93         romance       3.245
59         iranian       2.210

[114 rows x 2 columns]

In [49]:
#This is main Data I found could be interesting to create some visualizations. Thoughts??

track_metrics.head()

,Unnamed: 0,track_id,artists,album_name,track_name,popularity,duration_ms,explicit,danceability,energy,...,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,track_genre
0,0,5SuOikwiRyPMVoIQDJUgSV,Gen Hoshino,Comedy,Comedy,73,230666,False,0.676,0.4610,...,-6.746,0,0.1430,0.0322,0.000001,0.3580,0.715,87.917,4,acoustic
1,1,4qPNDBW1i3p13qLCt0Ki3A,Ben Woodward,Ghost (Acoustic),Ghost - Acoustic,55,149610,False,0.420,0.1660,...,-17.235,1,0.0763,0.9240,0.000006,0.1010,0.267,77.489,4,acoustic
2,2,1iJBSr7s7jYXzM8EGcbK5b,Ingrid Michaelson;ZAYN,To Begin Again,To Begin Again,57,210826,False,0.438,0.3590,...,-9.734,1,0.0557,0.2100,0.000000,0.1170,0.120,76.332,4,acoustic
3,3,6lfxq3CG4xtTiEg7opyCyx,Kina Grannis,Crazy Rich Asians (Original Motion Picture Sou...,Can't Help Falling In Love,71,201933,False,0.266,0.0596,...,-18.515,1,0.0363,0.9050,0.000071,0.1320,0.143,181.740,3,acoustic
4,4,5vjLSffimiIP26QG5WcN2K,Chord Overstreet,Hold On,Hold On,82,198853,False,0.618,0.4430,...,-9.681,1,0.0526,0.4690,0.000000,0.0829,0.167,119.949,4,acoustic